@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-navbar-bg: #1a2330;
  --color-text-for-dark: #ccd6f6;
  --color-greenish: #00c6ad;
}

.reveal {
  opacity: 0;
  visibility: hidden;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.reveal-up {
  transform: translateY(100px);
}

.reveal-left {
  transform: translateX(-100px);
}

.reveal-right {
  transform: translateX(100px);
}
.reveal.is-inview {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
}
